/*<style type="text/css">*/
  /*body {
   margin-top: 0px;
   margin-right: 100px;
   margin-bottom: 0px;
   margin-left: 100px;
  }*/
  /*
   * this is the same as writing
   * body { margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px;}
   * I'm adding px here for clarity sake but the unit is not really needed if you have 0
   * look into em, pt and % for other unit types
   * the rules are always clockwise: top, right, bottom, left
  */

  /*
  * Other font-sizes: 2, 3, 4 in vw
  */

  html {
    font-family: 'Roboto', sans-serif;
    margin-left: 12px;
    margin-top: 24px;
    margin-right: 12px;
    margin-bottom: 24px;
  }

  a {
    color:#D81B60;
    text-decoration: underline;
  }

  #title {
    font-size: 7vw;

    font-style: bold;
  }

  #lastupdated {
      font-size: 4vw;
      font-style: italic;
  }

  #contents {
    font-size: 4vw;
    text-align: justify;
    text-justify: inter-word;
  }

  #asterisk {
    font-size: 4vw;
    text-align: justify;
    text-justify: inter-word;
  }

  #copyright {
    font-size: 4vw;

  }
