/*<style type="text/css">*/
  /*body {
   margin-top: 0px;
   margin-right: 100px;
   margin-bottom: 0px;
   margin-left: 100px;
  }*/
  /*
   * this is the same as writing
   * body { margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px;}
   * I'm adding px here for clarity sake but the unit is not really needed if you have 0
   * look into em, pt and % for other unit types
   * the rules are always clockwise: top, right, bottom, left
  */

  /*
  * Other font-sizes: 2, 3, 4 in vw
  */

/*
  p.title {
    font-size: 7vw
    margin-left: 12px;
  }

  p.contents {
    font-size: 4vw
    margin-left: 12px;
  }

  p.copyright {
    font-size: 4vw
    margin-left: 12px;
  }
  */

  body {
    font-family: 'Roboto', sans-serif;
  }

  a {
    color:#D81B60;
    text-decoration: underline;
  }

/*
  div.last-updated {
    font-size: 4vw;
    margin-left: 12px;
    margin-right: 12px;
    font-style: italic;
  }
  */

  #title {
    font-size: 7vw;
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 24px;
    font-style: bold;
  }

  #lastupdated {
      font-size: 4vw;
      margin-left: 12px;
      margin-right: 12px;
      font-style: italic;
  }

  #contents {
    font-size: 4vw;
    margin-left: 12px;
    margin-right: 12px;
    text-align: justify;
    text-justify: inter-word;
  }

/*</style>*/